[buildout]
extensions =
  mr.developer

show-picked-versions = true

extends =
  http://dist.plone.org/release/5.0.5/versions.cfg
  versions.cfg

find-links =
  http://dist.ade25.de/public

versions = versions
unzip = true

[eggs]
main =
  tbb.sitetheme
# Add project packages here
#   myproject.sitecontent

custom =
  ade25.toolbar

addon =
  Pillow
  Plone
  plone.app.mosaic
  tus

test =
# Add custom packages here
#  example.sitetheme [test]

devtools =
  ade25.fabfiles
  bobtemplates.ade25
  bpython
  plone.reload
  sauna.reload
  Products.PDBDebugMode
  Products.PrintingMailHost
  Products.DocFinderTab

[sources]
# Add local filestystem packages for setup here
tbb.sitetheme     = fs tbb.sitetheme

# Additional checkouts
ade25.banner        = git git@github.com:ade25/ade25.banner.git
bobtemplates.ade25  = git git@github.com:ade25/bobtemplates.ade25.git
ade25.toolbar       = git git@github.com:ade25/ade25.toolbar.git
ade25.typekit       = git git@github.com:ade25/ade25.typekit.git
ade25.fabfiles      = git git@github.com:ade25/ade25.fabfiles.git
ade25.panelpage     = git git@github.com:ade25/ade25.panelpage.git
sauna.reload        = git https://github.com/epeli/sauna.reload.git
